<manifest package="com.smartbite.android">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".SmartBiteApp"
        android:label="SmartBite"
        android:theme="@style/Theme.MaterialComponents.DayNight">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.DayNight">
            
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

    </application>

</manifest>
